* @asasine @felipebalbi @jerrysxie @JamesHuard @madeleyneVaca @RobertZ2011 @tullom

# Any changes in the supply-chain folder needs approval
# from auditors as it relates to cargo vet
**/supply-chain @OpenDevicePartnership/crate-auditors